body {
	margin: 40px 0 0 0;
	padding: 0;
	font-size: 12px;
	font-family: ו;
	background: #fff;
}

.a {
	font-size: 30px;
}

#header {
	width: 100%;
	height: 40px;
	background: url(../img/header_bg.png);
	position: absolute;
	top: 0;
}

#header .header_main {
	width: 80%;
	height: 40px;
	margin: 0 auto;
}

#header .header_main .work {
	width: auto;
	height: 30px;
	margin-top: 5px;
	float: left;
}

#header .header_main span {
	font-size: 16px;
	text-indent: 5px;
	margin: 0;
	padding: 0;
	color: #555;
	height: 40px;
	line-height: 40px;
	padding: 0;
	float: left;
}

#header .header_member {
	float: right;
	margin-right: 40px;
	height: 40px;
	line-height: 40px;
	color: #555;
	font-size: 16px;
}

#header .header_member a {
	text-decoration: none;
	color: #555;
	font-size: 16px;
}

#reg,#login {
	padding: 15px 0 0 15px;
}

#reg p,#login p {
	margin: 10px 0;
	padding: 0;
}

#reg p label,#login p label {
	font-size: 14px;
	color: #666;
}

#reg .star,#login .star {
	font-size: 14px;
	color: maroon;
}

#reg .succ,#login .succ {
	display: inline-block;
	width: 28px;
	background: url(../img/reg_succ.png) no-repeat;
}

#reg ol,#login ol {
	margin: 0;
	padding: 0 0 0 20px;
	color: maroon;
}

#reg ol li,#login ol li {
	height: 20px;
}

#reg .text,#login .text {
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #fff;
	width: 200px;
	height: 25px;
	line-height: 25px;
	text-indent: 5px;
	font-size: 13px;
	color: #666;
}

#login p  #pass {
	padding-right: 2px;
}

#login  #checkcode {
	width: 120px;
}

*:focus {
	outline: none;
}

#loading {
	background: url(../img/loading.gif) no-repeat 20px center;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 40px;
	color: #666;
}

#expires {
	position: relative;
	top: 2px;
	margin: 0 2px 0 90px;
}

#banner {
	width: 80%;
	height: 100px;
	background-color: #cccccc;
	margin: auto;
	text-align: center;
	position:relative
}
#banner_search {
	width:65%;
	margin-top: 10px;
	position:absolute;
	right:0;
}
#search {
	width: 60%;
	height: 35px;
	border-radius: 4px;
	margin-top: 10px;
	font-size: 16px;
	text-indent: 5px;
	border:none;
}
#banner #search_button {
	width: 10%;
	height: 43px;
	font-size: 13px;
	margin-top: -5px;
}
#banner_footer {
	width: 55.5%;
	height: 30px;
	position:absolute;
	right:0;
	bottom:10px;
	text-align: left;
	margin-top: 5px;
}
#banner a {
	text-decoration: none;
	color: #555;
	font-size: 12px;
}
#error {
	background: url(../img/error.png) no-repeat 20px center;
	line-height: 28px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 40px;
	color: #666;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background: rgb(245, 245, 245);
	text-align: center;
	font-size: 16px;
	line-height: 50px;
}

#footer a {
	text-decoration: none;
	color: #555;
	font-size: 16px;
}